---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Astro Blog';
---
<BaseLayout pageTitle={ pageTitle }>
  <h2>My new Astro Blog</h2>
  <ul>
    <!-- {allPosts.map( (post)  => 
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>  
      </li>
    )} -->
    {allPosts.map((post) =>
      <BlogPost url={post.url} title={post.frontmatter.title} />
    )}
  </ul>
</BaseLayout>