---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <Header />
    
    <h1>Astro</h1>
    <h2>My new Astro Site</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim odit eaque dolor praesentium, officiis ex deserunt at nulla repellat, ut rem ad doloremque voluptatum reiciendis.</p>
    <Footer />
    <script>
      import '../scripts/menu.js'
    </script>
  </body>
</html>